body{
	background: grey;
}

h1{
	text-decoration: ;
	color:black;
	-transition: color ease-in 0.5s;
}

h1:hover{
	color:yellowgreen;
}

button {
  border: 0;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;

  button:active {
  box-shadow: 0 2px 0;
  transform: translateY(3px);
}

                

